<div class="row">
  <div class="col-sm-12">
    <form action="/bands/form" method="post">
      <input name="name" type="text">
      <button type="submit" class="btn btn-warning">Add a Band</button>
    </form>
  </div>
</div>
