<h1 id="head_text">Oops!</h1>

  <div class="row" style="margin-top:30px;">

    <div class="col-sm-3">
      <form action="/bands/form" method="get">
          <button type="submit" class="btn btn-warning" >Add a Band</button>
      </form>
    </div>

    <div class="col-sm-3">
      <form action="/bands" method="get">
          <button type="submit" class="btn btn-info">Find a Band</button>
      </form>
    </div>

    <div class="col-sm-3">
      <form action="/venues/form" method="get">
          <button type="submit" class="btn btn-warning">Add a Venue</button>
      </form>
    </div>

    <div class="col-sm-3">
      <form action="/venues" method="get">
          <button type="submit" class="btn btn-info">Venue List</button>
      </form>
    </div>

  </div>
</div>
  <h1 style="text-align:center;"> Add Bands and Venues<h1>
  <h1 style="text-align:center;">Track where your favorite bands have played!</h1>
