<div class="row">
  <div class="col-sm-2">
    <form action="/bands/form" method="get">
      <button type="submit" class="btn btn-warning">Add a Band</button>
    </form>
  </div>

  <div class="col-sm-2">
    <form action="/venues" method="get">
      <button type="submit" class="btn btn-info">Find a Venue</button>
    </form>
  </div>

  <div class="col-sm-2">
    <form action="/bands" method="get">
      <button type="submit" class="btn btn-info">Find a Band</button>
    </form>
  </div>
</div>
