<h1>Add a Venue to list of Venues</h1>
<div class="row" style="margin-top:30px;">

  <div class="col-sm-2">
    <form action="/bands/form" method="get">
        <button type="submit" class="btn btn-warning" >Add a Band</button>
    </form>
  </div>

  <div class="col-sm-2">
    <form action="/bands" method="get">
        <button type="submit" class="btn btn-info">Find a Band</button>
    </form>
  </div>

  <div class="col-sm-2">
    <form action="/venues/form" method="get">
        <button type="submit" class="btn btn-warning">Add a Venue</button>
    </form>
  </div>

  <div class="col-sm-2">
    <form action="/venues" method="get">
        <button type="submit" class="btn btn-info">Venue List</button>
    </form>
  </div>

</div>

<div class="row" style="margin-top:30px;">

  <div class="col-sm-12">
    <form action="/venues" method="post">
      <label for="name">Venue Name </label>
      <input name="name" type="text" placeholder="ex: Crystal Ballroom">
      <button type="submit" class="btn btn-warning">Add Venue</button>
    </form>
  </div>
</div>
